        /* 슬라이드의 위치를 확인 -> span 태그 */
        .visual-section .swiper-slide{
            /* swiper에 이미 설정되어 있음 */
            /* .visual-section .swiper-slide span 기준 요소 */
            position: relative;
        }
        .visual-section .swiper-slide span{
            /* 크기에 영향을 미치면 안 됨, 조상이 인식 못하게 만들기 위해 */
            position: absolute;
            left: 0;
            top: 0;
            background-color: #fff;
        }
        /* ↑ 슬라이드의 위치 확인 테스트 후 삭제  */

        .visual-section{
            /* 문제 9-2 해결 */
            /* .visual-section과 후손에서 사용될 변수 선언 */
            --swiper-control-bottom-position: -40px;
            
            /* 문제 2-1 해결 */
            /* 브라우저의 너비 다 사용 */
            width: 100% !important;
            max-width: 100% !important;

            /* 6 해결 */
            /* .visual-section .swiper의 overflow: visible; 변경한 후 */
            overflow: hidden;

            /* 문제 8-2 해결 : 자식(swiper) 높이 + 100px */
            padding-bottom: 80px;
        }
        .visual-section .swiper{
            /* 문제 1-1 해결 */
            overflow: visible;
            
            /* 3단 옆쪽에 넘쳐나는 부분이 보이지 않음 */
            /* swiper 영역 바깥으로 보이는 부분 보이지 않음 */
            /* overflow: hidden; */

            /* 문제 2-2 해결 */
            width: 92%;
            max-width: 1420px;

            /* cafe24 swiper css 버전 */
            /* .swiper-pagination-progressbar 기준 */
            position: relative;
            /* progressbar 가운데 정렬 */
            margin-left: auto;
            margin-right: auto;
        }
        .visual-section .swiper-wrapper{
            /* 5 해결 */
            /* gap: 20px; */
            /* 5. swiper 작동을 위해서는 gap을 지정하지 말고 spaceBetween 속성을 지정 */
        }
        .visual-section .swiper-slide{
            /* 문제 1-2 해결 */
            /* width: auto; */

            /* 3. 3단 해결 */
            /* width: 33.33%; */
            /* 3. swiper 사용하시면 slidesPerView를 이용하세요 */
        }
        .visual-section .swiper-slide>a{
            /* 4 해결 */
            /* 부모의 너비를 갖고 싶음 */
            display: block;
        }
        .visual-section .swiper-slide>a>img{
            /* 4 해결 */
            /* 이미지 요소의 특성 때문에 부모의 너비를 따라주는 것까지 추가로 작성해야 함 */
            display: block;
            width: 100%;
        }
        /* progressbar */
        .visual-section .swiper-pagination-progressbar{
            /* var(변수명, 기본값) */
            /* 앞에 있는 값에 해당되는 게 없으면 뒤에 있는 값(기본값)을 넣어라 */
            /* height: var(--swiper-pagination-progressbar-size, 4px); */
            /* height: auto; */
            top: 0;
            width: 100%;
            /* 8 progressbar의 위치를 swiper 아래로 이동 */
            bottom: -40px;
            /* 문제 8-1 해결 */
            /* 기존의 top값이 있다면 무력화시키기 위해서 */
            top: auto;
            
            /* 문제 8-3 해결 */
            /* calc() 둘 중 하나가 반드시 고정단위 */
            width: calc(100% - 120px);
            
            /* 문제 9-2 해결 */
            bottom: var(--swiper-control-bottom-position);
        }
        /* progressbar 색 바꾸기 */
        .visual-section .swiper-pagination-progressbar-fill{
            background-color: #434343;
        }
        .visual-section .swiper-button{
            /* 문제 9-2 해결 */
            position: absolute;
            right: 0px;
            bottom: var(--swiper-control-bottom-position);

            /* 자기 y축 크기의 반만큼 아래로 */
            transform: translate(0, 50%);
        }
        .visual-section .swiper-button>div{
            /* 문제 9-1 해결 */
            /* position: absolute를 무력화 */
            /* left, right, top, bottom 무력화 */
            position: static;
            /* 수평으로 오면서 너비, 높이를 지정하고 싶음 */
            /* 방법
            1. grid 2. flex 3. float 4. inline-block */
            display: inline-block;
            /* right: 50px; */
            width: 24px;
            height: 24px;

            /* 기준 */
            position: relative;

            /* left, right, top, bottom 값 무력화 */
            left: auto;
            right: auto;
            bottom: auto;
        }
        .visual-section .swiper-button .swiper-button-prev,
        .visual-section .swiper-button .swiper-button-next{
            /* width: 24px;
            height: 24px; */
            padding-left: 10px;
            padding-right: 10px;

            /* 자동으로 생성되는 버튼 이미지 제거 */
            background-image: none;
        }
        /* naxt, prev 버튼 사이에 | 만들기 */
        .visual-section .swiper-button .swiper-button-prev::after{
            content: "";
            display: block;
            width: 2px;
            height: 60%;
            background-color: #ccc;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
        .visual-section .swiper-button .swiper-button-prev>img,
        .visual-section .swiper-button .swiper-button-next>img{
            width: 100%;
            display: block;
        }
        /* .visual-section .swiper-button .swiper-button-next>img를 180도 회전 */
        .visual-section .swiper-button .swiper-button-next>img{
            transform: rotate(180deg);
        }
        .visual-section .swiper-button .swiper-button-play-toggle{}
        .visual-section .swiper-button .swiper-button-play-toggle>span{
            display: block;
            padding-left: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            overflow: hidden;
        }
        .visual-section .swiper-button .swiper-button-play-toggle .icon-pause{
            background-image: url(/myfolder/images/pause_48dp.png);
        }
        .visual-section .swiper-button .swiper-button-play-toggle .icon-play{
            background-image: url(/myfolder/images/play_arrow_48dp.png);
        }
        /* 
        .swiper-button-play-toggle.is-play : pause 표시
        .swiper-button-play-toggle.is-pause : play 표시
        */
        .visual-section .swiper-button .swiper-button-play-toggle.is-pause .icon-pause,
        .visual-section .swiper-button .swiper-button-play-toggle.is-play .icon-play{
            display: none;
        }
    